<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>{{config.document.project}} - {{config.document.title}}</title>
</head>
<body>
<h1>{{config.document.project}} API documentation</h1>

<h2>List of the files</h2>
{% for file in code.files %}
	<h3>{{file.filename}}</h3>
	<p>Desc: {{file.description}}</p>
	<ul>
		<li>Authors:
			<ul>
				{% for author in file.author %}
				<li>{{author}}</li>
				{% endfor %}
			</ul
		></li>
		<li>License:
			<ul>
				{% for license in file.license %}
				<li>{{license}}</li>
				{% endfor %}
			</ul>
		</li>
		<li>Copyright:
			<ul>
				{% for copyright in file.copyright %}
					<li>{{copyright}}</li>
				{% endfor %}
			</ul>
		</li>
		<li>{%if file.deprecated %}Deprecated{% else %}Not deprecated{% endif %}</li>
		<li>Since: {{file.since}}</li>
		<li>See:
			<ul>
				{% for see in file.see %}
				<li>{{see}}</li>
				{% endfor %}
			</ul>
		</li>
		<li>Version: {{file.version}}</li>
		<li>
			<h4>List of the namespaces</h4>
			<ul>
			{% for namespace in file.allNamespaces %}
				<li>
					<h5>{{namespace.fullName}}</h5>
					<p>Desc: {{namespace.description}}</p>
					<ul>
					{% for use in namespace.allUses %}
						<li>
							<h5>{{use.name}}</h5>
							{% if use.alias %}
							<p>{{use.alias}}</p>
							{% endif %}
						</li>
					{% endfor %}
					</ul>
				</li>
			{% endfor %}
			</ul>
			
			<h4>List of use statements</h4>
			<ul>
			{% for use in file.allUses %}
				<li>
					<h5>{{use.name}}</h5>
					{% if use.alias %}
					<p>{{use.alias}}</p>
					{% endif %}
				</li>
			{% endfor %}
			</ul>
			
			<h4>List of the constants</h4>
			<ul>
			{% for const in file.consts %}
				<li>
					<h5><code>{{const.type}}</code> {{const.name}}</h5>
					<pre>{{const.value}}</pre>
					<p>{{const.description}}</p>
				</li>
			{% endfor %}
			</ul>
			
			<h4>List of globals</h4>
			<ul>
			{% for global in file.globals %}
				<li>
					<h5><code>{{global.type}}</code> {{global.name}}</h5>
					<pre>{{global.defaultValue}}</pre>
					<p>{{global.description}}</p>
				</li>
			{% endfor %}
			</ul>
			
			<h4>List of functions</h4>
			<ul>
			{% for function in file.functions %}
				<li>
					<h5><code>{{function.return}}</code> {{function.name}}</h5>
					<p>{{function.description}}</p>
					<ul>
					{% for param in function.params %}
						<li><code>{{param.type}}</code> {{param.name}}
						{% if param.defaultValue %}({{param.defaultValue}}){% endif %}
						{% if param.description %}<p>{{param.description}}</p>{% endif %}
						</li>
					{% endfor %}
					{% if function.isOpenParams %}
						<li>...</li>
					{% endif %}
					</ul>
				</li>
			{% endfor %}
			</ul>
		</li>
	</ul>
{% endfor %}

<h3>List of classes</h3>
<ul>
	{% for class in code.allClasses %}
	<li><h4>{{class.name}}</h4>
	{% if class.parentClass %}
	<p>Extends <code>{{class.parentClass}}</code></p>
	{% endif %}
	
	{% if class.getInterfaces %}
	<ul>
	{% for interface in class.interfaces %}
		<li>{{interface}}</li>
	{% endfor %}
	</ul>
	{% endif %}
	
	<h4>List of methods</h4>
	<ul>
	{% for function in class.methods %}
		<li>
			<h5><code>{{function.return}}</code> {{function.name}}</h5>
			<p>{{function.description}}</p>
			<ul>
			{% for param in function.params %}
				<li><code>{{param.type}}</code> {{param.name}}
				{% if param.defaultValue %}({{param.defaultValue}}){% endif %}
				{% if param.description %}<p>{{param.description}}</p>{% endif %}
				</li>
			{% endfor %}
			{% if function.isOpenParams %}
				<li>...</li>
			{% endif %}
			</ul>
		</li>
	{% endfor %}
	</ul>
	
	<h4>List of attributes</h4>
	<ul>
	{% for attr in class.attributes %}
		<li>
			<h5><code>{{attr.type}}</code> {{attr.name}}</h5>
			<p>{{attr.description}}</p>
		</li>
	{% endfor %}
	</ul>
	</li>
	{% endfor %}
</ul>
</body>
</html>