<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>{{config.document.project}} - {{config.document.title}}</title>
</head>
<body>
<h1>{{config.document.project}} API documentation</h1>
<h2>List of the files</h2>
{% for file in code.files %}
<h3>{{file.filename}}</h3>
<p>Desc: {{file.description}}</p>
<ul>
	<li>Authors:
		<ul>
			{% for author in file.author %}
			<li>{{author}}</li>
			{% endfor %}
		</ul
	></li>
	<li>License:
		<ul>
			{% for license in file.license %}
			<li>{{license}}</li>
			{% endfor %}
		</ul>
	</li>
	<li>Copyright:
		<ul>
			{% for copyright in file.copyright %}
				<li>{{copyright}}</li>
			{% endfor %}
		</ul>
	</li>
	<li>{%if file.deprecated %}Deprecated{% else %}Not deprecated{% endif %}</li>
	<li>Since: {{file.since}}</li>
	<li>See:
		<ul>
			{% for see in file.see %}
			<li>{{see}}</li>
			{% endfor %}
		</ul>
	</li>
	<li>Version: {{file.version}}</li>
</ul>		
{% endfor %}

<h2>List of the namespaces</h2>
{% for namespace in code.namespaces %}
<h3>{{namespace.name}}</h3>
<p>Desc: {{namespace.description}}</p>
{% endfor %}
</body>
</html>